* {
    margin: 0;
    padding: 0;
    font-size: large;
}


:root {
    --tg-theme-bg-color: #FFFFFF;
    --tg-theme-text-color: #000000;
    --tg-theme-hint-color: #999999;
    --tg-theme-link-color: #0088CC;
    --tg-theme-button-color: #0088CC;
    --tg-theme-button-text-color: #FFFFFF;
    --tg-theme-secondary-bg-color: #F5F5F5;
    --tg-theme-header-bg-color: #0088CC;
    --tg-theme-accent-text-color: #FFA500;
    --tg-theme-section-bg-color: #cccccc;
    --tg-theme-section-header-text-color: #000000;
    --tg-theme-subtitle-text-color: #666666;
    --tg-theme-destructive-text-color: rgb(255, 0, 0);

    /**
    можешь переопределить используемые в библе цвета через свои переменные да и все
    */
    /* --dark: var(????);
    --info: var(????);
    --bad: var(????);
    --gray: var(???);
    --dark-gray: var(???); */

    --white: white;
}

i {
    pointer-events: none;
}

body {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    height: 100%;
    overflow: auto;

    padding-bottom: 6rem;
    scroll-behavior: smooth;
}


.main-container__btns {
    position: fixed;
    transform: translate(-50%, 0);
    bottom: 0;
    left: 50%;
    display: flex;
    gap: 6rem;
    padding: .6rem;
}

.main-container__btns:before {
    content: '';
    position: absolute;
    bottom: -7rem;
    left: 50%;
    background-color: var(--info);
    width: 20rem;
    height: 12rem;
    border-radius: 50%;
    transform: translate(-50%, 0);
}

.main-question {
    position: fixed;
    top: .4rem;
    transform: translate(-50%, 0);
    transition: transform .4s;
    left: 50%;
    z-index: 2;
}

.main-question:before {
    font-family: '3style-icons' !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    color: var(--info);
    font-size: 2rem;
    content: "\f63a";
    position: absolute;
    bottom: -1rem;
    width: 2rem;
    height: 2rem;
    transform: translate(-50%, 0);
    left: 50%;
}

.main-question:has(#name:not(:placeholder-shown)) {
    transform: translate(-50%, -40%);
}

.main-question:has(#description:not(:placeholder-shown)):has(#name:not(:placeholder-shown)),
.main-container:has(.quest) .main-question {
    transform: translate(-50%, -100%);
}

.main-question:hover {
    transform: translate(-50%, 0) !important;
}

.main-container__btns .btn {
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
}

.container-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.4rem;
}

.question-container {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    background: var(--tg-theme-secondary-bg-color);
    border-radius: 8px;
    gap: 0.6rem;
    width: 90%;
}

.quest {
    animation: quest .4s forwards;
}

.quest.delete {
    animation: quest-delete .4s forwards;
}

@keyframes quest {
    0% {
        position: relative;
        right: 30rem;
    }

    100% {
        position: relative;
        right: 0rem;
    }
}

@keyframes quest-delete {
    100% {
        position: relative;
        right: 30rem;
    }

    0% {
        position: relative;
        right: 0rem;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    /* Выравнивание по центру */
}

.checkbox-text {
    margin-left: 10px;
    width: 100%;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tg-theme-text-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 16px;
    /* Уменьшаем ширину в 1.5 раза */
    height: 16px;
    /* Уменьшаем высоту в 1.5 раза */
    left: 2px;
    /* Смещаем слайдер влево */
    bottom: 3px;
    background-color: var(--tg-theme-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--tg-theme-button-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--tg-theme-button-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


#popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    animation: popup .4s forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#popup-container {
    background-color: var(--tg-theme-bg-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.6rem;
    justify-content: end;
    position: relative;
}

#close {
    padding: 0;
    margin-bottom: .5rem;
}

.question-container .btn.question-container__delete,
.question-container .btn.question-container__add {
    padding: 0;
    font-size: .9rem;
}

.question-container .btn.question-container__delete i,
.question-container .btn.question-container__add i {
    padding: .4rem;
    font-size: .9rem;
}

.question-container__delete {
    margin-left: .4rem;
}

.checkbox-container .input {
    width: 100%;
}

input.error {
    border-bottom: 1px solid var(--tg-theme-destructive-text-color);
    /* Добавляем стиль границы */
}


textarea.error {
    border: 1px solid var(--tg-theme-destructive-text-color);
    /* Добавляем стиль границы */
}


s3-notify {
    width: 80vw;
}